# dependencies
**/node_modules/

# builds
**/dist/
**/build/
**/.next/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
**/.env
**/.env.*
.env

# vercel
.vercel/

# OS
.DS_Store
Thumbs.db

# Vite/TS temp
**/*.timestamp-*.mjs
