@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --tg-theme-bg-color: #fff;
  --tg-theme-text-color: #0a0a0a;
  --tg-theme-hint-color: #929292;
  --tg-theme-link-color: #207ae4;
  --tg-theme-button-color: #5bc8fb;
  --tg-theme-button-text-color: #fffeec;
  --tg-theme-secondary-bg-color: #f3f2f9;

  --default-font: "Manrope", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}

html,
body,
#root {
  height: 100%;
}

/* button,
[type="button"],
[type="reset"],
[type="submit"] {
  background-color: var(--tg-theme-button-color);
} */

body {
  direction: ltr;

  margin: 0;
  padding: 0;

  font-family: var(--default-font);
  text-align: left;

  background: var(--tg-theme-secondary-bg-color);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code,
label,
span,
div,
label {
  font-family: var(--default-font);
}

.App-logo {
  pointer-events: none;
  height: 40vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: calc(10px + 2vmin);
  color: white;
}

.contentWrapper {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  color: var(--tg-theme-text-color) !important;

  background: var(--tg-theme-bg-color);
  border-radius: 0;
}

.app {
  height: var(--tg-viewport-height, 100vh);
}

.ant-input,
.ant-select,
.ant-select-item {
  background-color: unset !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
